# ДЗ10
Дедлайн: 20 апреля 23:59

ДЗ [можно загружать по ссылке](https://classroom.github.com/a/hB8DDHIt).

In [ ]:
# за каждый пункт по баллу
# max оценка = 12

## Престиж

Попробуйте себя в роли иллюзиониста и покажите, как ловко жонглируете кучей чисел.

Зрители предлагают вам числа.
Произведите разные действия вроде сложения, умножения, вычитания, деления, возведения в степень и так далее.
Комментируйте эти действия и в итоге получите обратно исходные числа.

**Подсказка**: `array` из библиотеки `numpy` позволяет делать действия сразу со списком чисел.

БАЛЛЫ:  
- 2 балла за повторение примера ниже
- \+ бонусный балл (3 в итоге) за свой алгоритм с 3-4 действиями, который из массива исходных чисел через несколько этапов получает вновь этот же массив

ФОРМАТ ВВОДА:  
Пользователь вводит несколько целых чисел, через пробел.

ФОРМАТ ВЫВОДА:  
Программа печатает действие, которое будет выполнено с каждым исходным числом, и результат этих действий: числа через пробел.  
Последнее действие должно привести к исходным числам.


ПРИМЕР:

    1 4 5 10 12 67 3489

    Прибавлю 4!
     5 8 9 14 16 71 3493
    Умножу на 8!
     40 64 72 112 128 568 27944
    Вычту 16!
     24 48 56 96 112 552 27928
    Поделю на 2!
     12 24 28 48 56 276 13964
    А теперь вычту 8
     4 16 20 40 48 268 13956
    Поделю на 4, и voila!
    1 4 5 10 12 67 3489

## Довод

Чтобы убедить вашего друга посмотреть вместе фильмы, вам нужен веский *довод*.
    Друг любит фильмы, снятые в XX веке, шпионские и криминальные фильмы. 
    У вас как раз на примете список фильмов, которые вы ещё не видели.


Вам представлены фильмы с подробной информацией: название, режиссёр, жанр, год, страна издания, значимые актёры.

После выполнения кода ниже, вы получите табличку `data`:
```
          название            режиссёр  жанр  страна  актёры  
(фильм_1) Прибытие поезда...   ...
(фильм_2)   ...                ...
...
(фильм_8)
```

Обратите внимание, что годы сохранены отдельно, как `years` (потому что иначе они перешли бы в строки, раз в массиве есть строки).

Т.е. в одной строке полная информация о фильме, в столбцах информация по категории для всех фильмов, например, все режиссёры.

1. Выясните, в какие годы выходили фильмы, выпущенные в XX веке

2-3. Выясните, что это были за фильмы, (интересны название и сценарист)

**Предполагается решение без циклов**.

In [2]:
import numpy as np

titles = [
    "Прибытие поезда на вокзал Ла-Сьота",
    "Ла-Ла-ленд",
    "Война и мир",
    "17 мгновений весны",
    "Бэтмен: начало",
    "Интерстеллар",
    "Оно",
    "Крёстный отец",
]

directors = [
    "Огюст Люмьер, Луи Люмьер",
    "Дэмьен Шазелл",
    "Сергей Бондарчук",
    "Татьяна Лиознова",
    "Кристофер Нолан",
    "Кристофер Нолан",
    "Энди Мускетти",
    "Фрэнсис Форд Коппола",
]

genres = [
    "документальный",
    "мюзикл, драма",
    "драма, исторический",
    "детектив, военная драма, шпионский триллер",
    "боевик, супергеройский фильм, неонуар",
    "научная фантастика, приключения, драма",
    "ужасы",
    "детектив, драма"
]

years = [
    1896,
    2016,
    1965,
    1973,
    2005,
    2014,
    2017,
    1972
]

countries = [
    "Франция",
    "США",
    "СССР",
    "СССР",
    "США",
    "Великобритания",
    "США",
    "США"
]

actors = [
    "поезд, люди",
    "Эмма Стоун, Райн Гослинг",
    "Людмила Савельева, Вячеслав Тихонов, Сергей Бондарчук",
    "Вячеслав Тихонов, Леонид Броневой, Олег Табаков, Василий Лановой",
    "Кристиан Бейл, Кэти Холмс, Майкл Кейн, Гэри Олдмен, Лиам Ниссон",
    "Мэттью Макконахи, Энн Хэтэуэй, Джессика Честейн, Билл Ирвин, Эллен Бёрстин, Майкл Кейн",
    "Джейден Мартелл Билл Скарсгард",
    "Марлон Брандо, Аль Пачино, Джеймс Каан, Ричард Кастеллано, Роберт Дюваль, Стерлинг Хэйден, Джон Марли, Ричард Конте, Дайан Китон",
]



titles = np.array(titles)
directors = np.array(directors)
genres = np.array(genres)

countries = np.array(countries)

actors = np.array(actors)

data = np.array([titles, directors, genres, countries, actors])
data = data.T

years = np.array(years)

**Подсказка-пример №1:**

In [3]:
age = np.array([4, 20, 45, 80])  # это возрасты людей

# У кого скидка в музей? Просто массив True/False.
print((age < 18) | (age > 75))

# Можно наложить на массив такой же длины
# и вывести элементы с индексами, соответствующими True

print(age[(age < 18) | (age > 75)])

# имена - массив такой же длины
names = np.array(["Стёпка", "Вера", "Надежда", "Любовь"])

# тогда, имена тех, кто может взять скидку:
print(names[(age < 18) | (age > 75)])

[ True False False  True]
[ 4 80]
['Стёпка' 'Любовь']

**Подсказка-пример №2:** фильтрация и обращение по индексам - устроены одинаково. Как и в примере выше, так и в многомерном массиве можно вывести информацию по индексу, по интервалу индексов, а можно по условию про массив с таким же количеством элементов. (см. пример)

In [4]:
athletes = np.array([
    # номер спортсмена, рост, вес, жим от груди
    [0, 172, 70, 65],
    [1, 181, 70, 80],
    [2, 178, 72, 71],
    [3, 190, 100, 160]])

print('Вес:', athletes[:, 2])  # все строки, второй столбец

# полная информация о спортсменах, жмущих больше собственного веса
print('\nСилачи:')
print(athletes[athletes[:, 2] < athletes[:, 3], :])  # строки, где вес меньше жима, все столбцы

Вес: [ 70  70  72 100]

Силачи:
[[  1 181  70  80]
 [  3 190 100 160]]

## Начало (про pandas)

1. Создайте датафрейм, содержащий информацию о том, сколько часов в неделю уходит на ваши учебные дела. По столбцам расположите дела, а по строкам недели.
2. Измените индексы в таблице: подпишите, какие это недели.
3. Создайте столбик с суммарным временем, уходящим на учёбу в неделю.
4. Посчитайте для одного из дел, сколько в среднем вы на него тратите времени в неделю.

Ограничения по объёму: минимум пять учебных дел, минимум на три недели. Писать правдивые сведения не обязательно.

In [20]:
# Вот, например, апрельские учебные дела Тани (сокращённая версия)

В среднем в неделю уходит на программирование часов: 15.0

,Пары по андану (филологи),Пары по комплинг (лицей),Программирование,Андан на R,Формальные языка,Базы данных,Веб-разработка,Корпусная лингвистика,Проект,Всего
3-9 апреля,10,5,20,0,0,2.5,2.5,6,1,47.0
10-16 апреля,9,0,10,3,3,2.5,0.0,3,2,32.5
17-23 апреля,12,5,15,6,10,2.5,4.0,4,4,62.5
24-30 апреля,9,6,15,3,10,6.0,4.0,4,2,59.0

5-6. Откройте файл `RUZ_10.04.2023-16.04.2023_<ваш вариант>.csv` в формате датафрейма. Дайте логичные названия колонкам.