# Продолжение про списки, кортежи и строки. Методы списков

Мы уже знаем про:
- типы данных `int`, `float`, `str`, `bool`, `list` [список], `tuple` (кортеж неизменяемый)
- математические операторы: `+`, `-`, `/`, `*`, `**` (в степень), `%` (остаток от деления), `//` (целая часть при делении)
- `print()` — напечатать
- `type()` — узнать тип данных
- `input()` — принять значение от пользователя
- `int()` — преобразовать в целочисленный формат
- `float()` — преобразовать в формат дробного числа
- `str()` — преобразовать в строку
- `bool()` — преобразовать в bool (True/False)
- `list()` — преобразовать в список
- `tuple()` — преобразовать в кортеж
- условия:
```
if <условие>:
    <инструкции, для случая если условие истинно (True)>
#elif <условие №2>:
#    <инструкции, для случая если условие №2 истинно (True)>
#else:
#    <инструкции, когда все условия не выполнились (False)>
```
- операторы сравнения: `>`, `<`, `>=`, `<=`, `==` (равно), `!=` (не равно)
- логические операторы: `and`, `or`, `not`
- цикл `while`:
```
while <условие>:
    <инструкции, которые будут выполняться по кругу, пока условие выполняется True>
```
- цикл `for`
```
for <element> in <elements>:
       <инструкции, которые будут выполняться для каждого элемента>
```
- `.split()` - поделить строку, указанную до точки, по сочетанию символов, указанных в скобках (строка -> список)
- индексация с нуля: `итерируемый_объект[индекс]`
- срезы: `итерируемый_объект[START:END:STEP]`
- `*список` - то же самое, что `список[0] список[1] список[2] список[3]...`

---

Со списками нам может быть полезно делать много разных вещей:
- узнавать сколько в них вещей
- добавлять данные
- изменять данные
- удалять данные
- искать что-то!

Посмотрим, какие в питоне есть для этого возможности.

## len() - узнать длину

как списка, так и кортежа (так и строчки, так и много чего ещё, что увидим в будущем)

In [1]:
months = ('January', 'February', 'March',
          'April', 'May', 'June', 'July',
          'August', 'September', 'October',
          'November', 'December')
len(months)

12

Не забывайте, что длина на один больше, чем максимальный индекс!

In [2]:
months[12]

IndexError: tuple index out of range

(Почему? Потому что минимальный индекс это 0, а не 1, и выходит не `1..12`, а `0..11`, и так всегда с индексами в питоне)

In [3]:
print(len('Сколько символов в этом предложении?'))

36

## range() &mdash; "обещание последовательности чисел"

Бывают ситуации, когда нужен диапазон чисел.
    Эта функция здесь и поможет!

Просто так ничего полезного не печатает:

In [4]:
print(range(8))

range(0, 8)

Но можно поглотить функциями `tuple` или `list`, чтобы получить заполненный объект соответствующего типа! И чудо, там будет диапазон чисел!

In [5]:
tuple(range(8))

(0, 1, 2, 3, 4, 5, 6, 7)

In [6]:
list(range(2,8))

[2, 3, 4, 5, 6, 7]

In [7]:
list(range(0, 8, 2))

[0, 2, 4, 6]

Другой способ использовать `range`, это не совсем поглотить, а пройтись по нему в цикле

In [8]:
# kolvo = 0
# while kolvo < 5:
    # print('Привет!')
    # kolvo +=1
    

# здороваемся 5 раз и считаем
for i in range(5):
    print('Привет!', i)

Привет! 0
Привет! 1
Привет! 2
Привет! 3
Привет! 4

Обратите внимание, что числа из диапазона мы можем использовать как индексы для какой-то последовательности!
    (Для списков, кортежей, строк и т.д.)

In [9]:
word = 'Hello'
for i in range(2,4):  # как l l напечатать?
    print(word[i], i)

l 2
l 3

Если в коде выше собирать строчку по кусочкам, то это будет эквивалентно срезу ниже.
    **Обратите внимание**, индексы устроены так же, только разделены двоеточием: `[начало:конец:шаг]`, а не запятой как в `range`

In [10]:
word[2:4]

'll'

### Тренировка

Как напечатать номер месяца и название? Есть много способов. Но попробуем `range(len(months))`

Ниже для полноты пример с проходом по всему кортежу.
    Тут хитро сочетается получение длины функцией `len` (для такого кортежа это будет `12`), и создание диапазона чисел от `0` (это начало по умолчанию, когда не указано иного), до `12` (`len(months)`) невключительно.
    
Но это и есть в точности все возможные индексы для нашего кортежа!
    Ведь они тоже `0..11`!
    
Поэтому `range()` в сочетании с `len(<список/кортеж/строка/другая последовательность>)` в качестве аргумента, удобен для прохода по последовательностям, когда нужны также индексы.

In [12]:
for i in range(len(months)):
    print(i+1, months[i])

1 January
2 February
3 March
4 April
5 May
6 June
7 July
8 August
9 September
10 October
11 November
12 December

### Тренировка
Напечатайте в строку: название книги, автора, год издания

In [13]:
books = ['Петя и волк', 'Муфта, Полботинка и Моховая Борода', 'Зоки и Бада']
authors = ['С. С. Прокофьев', 'Эно Рауд', 'Ирина и Леонид Тюхтяевы']
publication = ['1936', '1976', '1990']

Списки у нас одинаковой длины и название на первом месте соответствует автору на первом месте и году на первом месте.

Значит, нужно проходиться по индексам какого-то из списков (неважно какого!) и брать из каждого списка элемент на соответствущей позиции.

In [14]:
for i in range(len(books)):
    print(books[i], authors[i], publication[i], sep=' - ')

Петя и волк - С. С. Прокофьев - 1936
Муфта, Полботинка и Моховая Борода - Эно Рауд - 1976
Зоки и Бада - Ирина и Леонид Тюхтяевы - 1990

## `enumerate(<последовательность>)` &mdash; получить новую последовательность дополненную порядковыми номерами

Как и `range` сам по себе ничего не печатает:

In [15]:
enumerate(months)

Но список позволяет поглотить и увидеть, что `enumerate` делает последовательность кортежей (показан список, потому что применили `list`, а не `tuple` например):
    
    [(порядковый_номер, элемент), (порядковый_номер, элемент), (порядковый_номер, элемент)]

In [16]:
list(enumerate(months))

[(0, 'January'),
 (1, 'February'),
 (2, 'March'),
 (3, 'April'),
 (4, 'May'),
 (5, 'June'),
 (6, 'July'),
 (7, 'August'),
 (8, 'September'),
 (9, 'October'),
 (10, 'November'),
 (11, 'December')]

Как это удобно использовать в цикле?

Вспомним сперва, что в питоне можно распределять присвоение (со знаком равно `=`) через запятую:

In [17]:
# воспоминание:
a, b = 4, 5
print("a:", a)
print("b:", b)

a: 4
b: 5

Если справа есть скобки, т.е. правая часть &mdash; кортеж, то не страшно, всё работает точно так же:

In [18]:
i, month =  (5, 'June')

print("i:", i)
print("month:", month)

i: 5
month: June

Этот способ "развернуть" кортеж в отдельные переменные мы и используем!

Как и с `range` пройдёмся сразу по `enumerate` (не вызывая `list`):

In [19]:
months = ('January', 'February', 'March',
          'April', 'May', 'June', 'July',
          'August', 'September', 'October',
          'November', 'December')

for i, month in enumerate(months):
    print("id:", i, "month:", month)

id: 0 month: January
id: 1 month: February
id: 2 month: March
id: 3 month: April
id: 4 month: May
id: 5 month: June
id: 6 month: July
id: 7 month: August
id: 8 month: September
id: 9 month: October
id: 10 month: November
id: 11 month: December

Ну и действительно, на каждом шагу цикла нам выдаётся кортеж из двух элементов, индекса и элемента оригинальной последовательности, и мы этот кортеж просто распаковываем / разворачиваем в отдельные переменные.

Элементов в кортежах выданных `enumerate` на каждом шагу всегда два, какими бы сложными ни были элементы исходной последовательности:

In [20]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
enum_matrix = list(enumerate(matrix))

print(enum_matrix)

[(0, [1, 2, 3]), (1, [4, 5, 6]), (2, [7, 8, 9])]

In [21]:
for row_i, row in enumerate(matrix):
    print("index of the row is:", row_i, "values of the row are:", row)

index of the row is: 0 values of the row are: [1, 2, 3]
index of the row is: 1 values of the row are: [4, 5, 6]
index of the row is: 2 values of the row are: [7, 8, 9]

Наконец, можно попросить начинать отсчёт с какого-то другого целого числа, не с нуля:

In [22]:
for i, row in enumerate(matrix, start=2):
    print(i, row)

2 [1, 2, 3]
3 [4, 5, 6]
4 [7, 8, 9]

Для нашей задачи про книги, авторов и годы тоже можно использовать `enumerate`:

In [23]:
books = ['Петя и волк', 'Муфта, Полботинка и Моховая Борода', 'Зоки и Бада']
authors = ['С. С. Прокофьев', 'Эно Рауд', 'Ирина и Леонид Тюхтяевы']
publication = ['1936', '1976', '1990']

list(enumerate(books))

[(0, 'Петя и волк'),
 (1, 'Муфта, Полботинка и Моховая Борода'),
 (2, 'Зоки и Бада')]

Снова, в `enumerate` подаём какой-то любой из этих списков (здесь `books`), и получаем индексы, которые используем для обращения к другим спискам, и сами элементы исходного списка `books` (поэтому к самому `books` нам не нужно обращаться через `books[i]`, уже всё есть).

In [24]:
for i, book in enumerate(books):
    print(book, authors[i], publication[i])

Петя и волк С. С. Прокофьев 1936
Муфта, Полботинка и Моховая Борода Эно Рауд 1976
Зоки и Бада Ирина и Леонид Тюхтяевы 1990

## Цикл в цикле

Циклы `for`, как и `while` могут вкладываться один в другой.
    
```python
for outer_index in outer_sequence:
    for inner_index in inner_sequence:
        ... # <действие>
```

В такой ситуации на каждом шаге внешнего цикла (`for outer_index in outer_sequence`) **полностью** прогонится внутренний цикл.

В итоге:
- внешний цикл выполнится столько раз, какова длина `outer_sequence`,
- внутренний цикл выполнится столько раз, какова длина `inner_sequence`,
- а `...` действие выполнится столько раз, каково число $len(outer\_sequence) * len(inner\_sequence)$

Максим подтягивается 4 подхода по 5 раз. 
В этой задаче... 
- внешний цикл (подходы) выполнится 4 раза
    - внутренний цикл (повторения) при каждом шаге внешнего выполнится 5 раз
    - т.е. вообще всего печатание числа повторений будет выполнено $4 * 5 = 20$ раз!

In [25]:
num_sets = 4
num_repeats = 5

for set_povtor in range(num_sets):
    print("Начался подход")
    print("Повторов сделано:")
    for repeat in range(num_repeats):
        print(repeat + 1)
    print("ПОДХОДОВ сделано:", set_povtor)
    print()

Начался подход
Повторов сделано:
1
2
3
4
5
ПОДХОДОВ сделано: 0

Начался подход
Повторов сделано:
1
2
3
4
5
ПОДХОДОВ сделано: 1

Начался подход
Повторов сделано:
1
2
3
4
5
ПОДХОДОВ сделано: 2

Начался подход
Повторов сделано:
1
2
3
4
5
ПОДХОДОВ сделано: 3

### Тренировка
Снова напишем таблицу умножения (используя range)

- `a` определяет левые числа в строчках, `b` &mdash; правые. Заметьте, как `a`, левое число, остаётся тем же в каждых 8 последовательных строчках, меняется только правое, `b`
- затем, наконец, левым числом становится следующее по счёту и снова 8 строк 
- ... (и т.д.)

In [67]:
for a in range(2, 10):
    for b in range(2, 10):
        print(a, '*', b, '=', a*b)
    print()

2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### Тренировка 2


❓ Как напечатать длины каждого слова в каждом предложении?

Алгоритм такой:

- проходясь по предложениям:
    - так как предложение - строчка, делить предложение на слова
    - проходясь по словам из предложения:
        - печатать длину слова и само слово

Пример работы:

```

любить 6
и 1
быть 4
любимым 7

чтоб 4
не 2
болела 6
мать 4

...
```

Обратите внимание, что `for` по строке это не то (получатся отдельные её символы, а не слова):

In [27]:
for symb in 'любить и быть любимым':
    print(symb)

л
ю
б
и
т
ь

и

б
ы
т
ь

л
ю
б
и
м
ы
м

Ещё не пойдёт применять метод `.split` к списку, это не поделит строчки из списка (потому что каждая строчка только элемент (!) списка).
    (Вспомните, что в списке могут быть не только строки. Мы же не можем делить числа!)

In [28]:
wishes = ['любить и быть любимым',
          'чтоб не болела мать',
          'чтоб на нашей горестной планете только звезды падали с небес',
          'были все доверчивы, как дети, и любили дождь, цветы и лес']

wishes.split()

AttributeError: 'list' object has no attribute 'split'

В общем, решение может быть таким

In [29]:
wishes = ['любить и быть любимым',
          'чтоб не болела мать',
          'чтоб на нашей горестной планете только звезды падали с небес',
          'были все доверчивы, как дети, и любили дождь, цветы и лес']

for sentence in wishes:
    words = sentence.split()
    for one_word in words:
        print(one_word, len(one_word))
    print()

любить 6
и 1
быть 4
любимым 7

чтоб 4
не 2
болела 6
мать 4

чтоб 4
на 2
нашей 5
горестной 9
планете 7
только 6
звезды 6
падали 6
с 1
небес 5

были 4
все 3
доверчивы, 10
как 3
дети, 5
и 1
любили 6
дождь, 6
цветы 5
и 1
лес 3

## Методы списков

Списки можно менять, они изменяемые! (В отличие от кортежей и строк). 

Поэтому большинство методов действительно меняют исходный список.

### .append()  — добавление элемента в конец списка

In [30]:
list_of_wishes = []  # Список желаний, когда спрашивают.
print(list_of_wishes)
list_of_wishes.append('спать')  # После секунды раздумий
print(list_of_wishes)

# добавьте ещё одно желание

[]
['спать']

Метод принимает один аргумент — объект, который нужно добавить. Метод ничего **не возвращает, а просто изменяет исходный список** (результат работы метода нельзя сохранить в переменную!).

In [31]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(matrix)

matrix.append([10, 11, 12])

print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

### .extend(`another_list`)  — расширяет список, добавляя в конец все элементы списка `another_list`

Но вообще-то передать в `extend` можно не только список, увидим ниже

In [32]:
ready_wishlist = ['любить и быть любимым',
                  'чтоб не болела мать',
                  'чтоб на нашей горестной планете только звезды падали с небес',
                  'были все доверчивы, как дети, и любили дождь, цветы и лес']
list_of_wishes.extend(ready_wishlist)
print(list_of_wishes)

['спать', 'любить и быть любимым', 'чтоб не болела мать', 'чтоб на нашей горестной планете только звезды падали с небес', 'были все доверчивы, как дети, и любили дождь, цветы и лес']

А вот `.extend()` со списком списков. Числа добавились поодиночке!

In [68]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(matrix)

matrix.extend([10, 11, 12])

print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9], 10, 11, 12]

А есть ещё сложение списков!

In [69]:
# Как объединить списки в один, не меняя исходных?
# Сложить!

sweet = ['конфета', 'шоколадка']
salty = ['крекер', 'сухарик']
basket = sweet + salty
print(sweet)
print(salty)
print(basket)

['конфета', 'шоколадка']
['крекер', 'сухарик']
['конфета', 'шоколадка', 'крекер', 'сухарик']

В `.extend()` можно передать не другой список, а ещё и кортеж, и даже строчку.

Если передать **в `.extend()` строчку**, то список расширится **отдельными символами** из неё.
    Это похоже на то, как в цикле `for` по строчке будут печататься её символы:

```python
for symb in "мир":
    print(symb)

м
и
р
```

(Это связано с тем, что строчка это просто последовательность символов. Видно из английского названия string, ведь бывают string of perls и т.д.)

In [33]:
letters = ["hello"]
letters.extend("привет")
print(letters)

['hello', 'п', 'р', 'и', 'в', 'е', 'т']

Сравните это с добавлением строки целиком в список методом `.append()`

In [34]:
salutes = ["hello"]

salutes.append("привет")
print(salutes)

['hello', 'привет']

### .insert(`i`, `x`)  — вставляет в `i`-ую позицию в списке значение `x`

In [37]:
list_of_wishes.insert(0, 'жить')

# вставьте ещё желаний
list_of_wishes.insert(4, 'гулять')
print(len(list_of_wishes))
list_of_wishes

7

['жить',
 'спать',
 'любить и быть любимым',
 'чтоб не болела мать',
 'гулять',
 'чтоб на нашей горестной планете только звезды падали с небес',
 'были все доверчивы, как дети, и любили дождь, цветы и лес']

In [39]:
print(list_of_wishes[0])

print(list_of_wishes[4])

жить
гулять

### `.pop(i)` &mdash; удаляет элемент, расположенный по индексу `i` в списке

In [40]:
print(list_of_wishes)

print(list_of_wishes[1])
list_of_wishes.pop(1)

print(list_of_wishes)

['жить', 'спать', 'любить и быть любимым', 'чтоб не болела мать', 'гулять', 'чтоб на нашей горестной планете только звезды падали с небес', 'были все доверчивы, как дети, и любили дождь, цветы и лес']
спать
['жить', 'любить и быть любимым', 'чтоб не болела мать', 'гулять', 'чтоб на нашей горестной планете только звезды падали с небес', 'были все доверчивы, как дети, и любили дождь, цветы и лес']

Можно не передавать аргумента `i`, тогда, по умолчанию, удаляется последний элемент списка.

In [41]:
print(list_of_wishes)

element = list_of_wishes.pop()


print(list_of_wishes)
print(element)

['жить', 'любить и быть любимым', 'чтоб не болела мать', 'гулять', 'чтоб на нашей горестной планете только звезды падали с небес', 'были все доверчивы, как дети, и любили дождь, цветы и лес']
['жить', 'любить и быть любимым', 'чтоб не болела мать', 'гулять', 'чтоб на нашей горестной планете только звезды падали с небес']
были все доверчивы, как дети, и любили дождь, цветы и лес

### .remove(`x`) - удаляет первый элемент в списке, имеющий значение `x`

In [42]:
list_of_wishes.remove('чтоб на нашей горестной планете только звезды падали с небес')
list_of_wishes

['жить', 'любить и быть любимым', 'чтоб не болела мать', 'гулять']

In [43]:
shoplist = ['молоко', 'кефир', 'сок', 'вода', 'сок', 'морс']  # тут 2 сока
shoplist.remove('сок')
print(shoplist)  # тут 1 сок, причём второй
shoplist.remove('сок')
print(shoplist)

['молоко', 'кефир', 'вода', 'сок', 'морс']
['молоко', 'кефир', 'вода', 'морс']

### `.clear()`  — очищает список

In [44]:
print(shoplist)
shoplist.clear()
print(shoplist)

['молоко', 'кефир', 'вода', 'морс']
[]

### .count(`x`)  — узнать, сколько раз встречается элемент `x`

In [70]:
shoplist = ['молоко', 'кефир', 'сок', 'вода', 'сок', 'морс']
shoplist.count('сок')

2

In [71]:
shoplist = ['молоко', 'кефир', 'сок', 'вода', 'сок', 'морс']
shoplist.count('малина')

0

#### Тренировка
Игра "Я знаю 5 имён девочек"

Спрашивайте у пользователя 5 названий чего-нибудь. Если пользователь повторился и ввёл имя 2й раз, игра завершается.

In [46]:
names = []

for i in range(5):
    answer = input('Имя девочки: ')
    # if answer in names:  # Это отличный способ, который вы знали
    #     print('Было!')
    #     break
    # TODO
    if names.count(answer) > 0:   # Это новый способ
        print('Было!')
        break

    names.append(answer)
    if i == 4:
        print('Получилось!')

Имя девочки:  Маша
Имя девочки:  Саша
Имя девочки:  Маша

Было!

Обратите внимание на вариацию задачи, где уже нельзя без `count`:

> Спрашивайте у пользователя 5 названий чего-нибудь. **Можно повториться один раз**. Если пользователь пытается назвать что-то в третий раз, то игра завершается.

In [48]:
names = []

for i in range(5):
    answer = input('Имя девочки: ')
    if names.count(answer) > 1:
        print('Было!')
        break

    names.append(answer)
    if i == 4:
        print('Получилось!')

Имя девочки:  Хельга
Имя девочки:  Анна
Имя девочки:  Хельга
Имя девочки:  Анна
Имя девочки:  Анна

Было!

### .index(`x`)  — узнать индекс элемента `x` в списке

Чтобы узнать на какой позиции что-то находится можно пройтись в цикле по списку и выйти из цикла, когда что-то найдено.
    Если элементов с таким значением было несколько, то это позволяет узнать **индекс первого**.

In [49]:
# Так вы умели:

shopping_list = ['молоко', 'сок', 'хлеб', 'сок', 'кефир']

for i in range(len(shopping_list)):
    if shopping_list[i] == 'хлеб':  # если мы нашли хлеб
        print(i)
        break      # остановим цикл, и индекс будет в переменной i

2

In [50]:
shopping_list.index('сок')  # узнаём индекс первого такого элемента

1

In [51]:
shopping_list.remove("сок")
shopping_list.index("сок")
print(shopping_list)

['молоко', 'хлеб', 'сок', 'кефир']

Мы не умеем работать с ошибками, поэтому сложновато хорошо использовать `.index`:

In [52]:
shopping_list.index('морс')  # если такого элемента, сломается

ValueError: 'морс' is not in list

> Но можно сперва проверять, есть ли что-то в списке, а затем узнавать индекс если есть (но это чуточку не оптимально)

#### Тренировка
Замените сок на что-нибудь другое.

In [56]:
shopping_list = ['молоко', 'сок', 'хлеб', 'сок', 'кефир']

juice_i = shopping_list.index("сок")
print(juice_i)

shopping_list[juice_i] = "вода"

print(shopping_list)

1
['молоко', 'вода', 'хлеб', 'сок', 'кефир']

Мы можем повторить действия, чтобы заменить уже второй `сок` на `лимонад`

In [57]:
juice_i2 = shopping_list.index("сок")
print(juice_i2)

shopping_list[juice_i2] = "лимонад"
print(shopping_list)

3
['молоко', 'вода', 'хлеб', 'лимонад', 'кефир']

## Ещё несколько функций для списков и кортежей

### `sum(<последовательность>)` &mdash; сумма

In [58]:
print(sum([1, 2, 3]))     # попросим посчитать и вывести сумму чисел в списке
print(sum((3.5, 3, 4)))   # попросим посчитать и вывести сумму чисел в кортеже

6
10.5

### `min(<последовательность>)`  — минимальное

In [59]:
print(min([1, 2, 3]))     # попросим посчитать и вывести сумму чисел в списке
print(min((3.5, 3, 4)))

1
3

### `max(<последовательность>)`  — максимальное

In [60]:
print(max([1, 2, 3]))     # попросим посчитать и вывести сумму чисел в списке
print(max((3.5, 3, 4)))

3
4

In [61]:
# работает и со строками
s = 'abzя112358--0=-=-='
print(max(s))

я

_\* (это работает потому, что каждому символу в памяти компьютера соответствует какое-то число)_

## `map(<имя_функции>, <последовательность>)` &mdash; применить функцию или метод ко всем элементам последовательности сразу (к каждому)

Как и `range` и `enumerate`, при печати сходу ничего полезного не даёт.

Вот мы пробуем применить функцию вычисления длины `len` к строчкам из списка:

In [62]:
map(len, ['Привет', 'ТЕСТ', 'функции', 'map!'])

Но при поглощении с `list` уже работает:

In [63]:
print(list(map(len, ['Привет', 'ТЕСТ', 'функции', 'map!'])))

[6, 4, 7, 4]

Обратите внимание, функция `len` записана без скобок!
    Почему?
    Потому что мы хотим просто указать имя нужной функции, а уже `map` сама будет применять указанную нами функцию к каждому элементу последовательности.

Вообще-то можно применять таким образом и методы (то, что пишется через точку, типа `.split()`).

Но в этом случае нужно использовать полное имя метода.
    Т.е. писать не `.split` (так нельзя), не `"".split` (не то что нужно и не пойдёт здесь), а полное имя.
    Полные имена методов перед точкой содержат тот тип данных, чьи они методы, например `str.split`:

In [64]:
print(list(map(str.split, ['Таня Казакова', 'Максим Бажуков', 'Олег Сериков'])))

[['Таня', 'Казакова'], ['Максим', 'Бажуков'], ['Олег', 'Сериков']]

Здесь мы попросили функцию `map` применить к каждой строчке из списка строковый метод `str.split` (собственно, то что он строковый, т.е. от `str` мы и указали, написав `str` перед точкой)

Нельзя без `str`:

In [65]:
print(list(map(.split, ['Таня Казакова', 'Максим Бажуков', 'Олег Сериков'])))

SyntaxError: invalid syntax (3148066646.py, line 1)

Совсем не то если перед точкой кавычки с какой-то строчкой (например, пустой):

In [66]:
print(list(map("".split, ['Таня Казакова', 'Максим Бажуков', 'Олег Сериков'])))

[[''], [''], ['']]